<form [formGroup]="contact" (ngSubmit)="onSubmit()">

  <landwerk-form-input
    [control]="contact.get('name')"
    descriptor="name"
    label="Name"
    placeholder="Dein Name"
    feedback="Bitte gib deinen Namen an.">
  </landwerk-form-input>

  <landwerk-form-input
    [control]="contact.get('email')"
    descriptor="email"
    label="E-Mail"
    placeholder="Deine E-Mail"
    feedback="Gib eine gültige E-Mail-Adresse unter der wir dich kontaktieren können an.">
  </landwerk-form-input>

  <landwerk-form-input
    [control]="contact.get('phone')"
    descriptor="phone"
    label="Telefon"
    placeholder="Deine Telefonnummer">
  </landwerk-form-input>

  <landwerk-form-input
    [control]="contact.get('subject')"
    descriptor="subject"
    label="Betreff"
    placeholder="Worum geht es?"
    feedback="Gib eine kurze Beschreibung worum es geht.">
  </landwerk-form-input>

  <div class="form-group">
    <label class="form-control-label">Deine Nachricht an uns</label>
    <textarea class="form-control" rows="6" id="message" placeholder="Deine Nachricht" formControlName="message" required [class.is-invalid]="message.invalid && (message.dirty || message.touched)">
    </textarea>
    <div class="invalid-feedback" *ngIf="message.invalid && (message.dirty || message.touched)">
        Beschreibe dein Anliegen.
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="contact.invalid">Senden</button>

</form>