<form [formGroup]="contact" (ngSubmit)="onSubmit()">

  <div class="form-group" *ngFor="let input of inputs">
      <label class="form-control-label">
        {{input.label}}
      </label>
      <input class="form-control"
        [formControl]="input.formControl"
        [attr.id]="input.name"
        [attr.placeholder]="input.placeholder"
        [class.is-invalid]="input.hasErrors"
        required />
      <div class="invalid-feedback"
        *ngIf="input.feedback && input.hasErrors">
          {{input.feedback}}
      </div>
  </div>

  <div class="form-group">
    <label class="form-control-label">Deine Nachricht an uns</label>
    <textarea class="form-control" rows="6" id="message" placeholder="Deine Nachricht" formControlName="message" required [class.is-invalid]="message.invalid && (message.dirty || message.touched)">
    </textarea>
    <div class="invalid-feedback" *ngIf="message.invalid && (message.dirty || message.touched)">
        Beschreibe dein Anliegen.
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="contact.invalid">Senden</button>

</form>