<div class="row">

    <div class="col-md-6">
        <h2>Landwerk GmbH</h2>
        <p>Wir sind ein Dienstleistungsunternehmen aus Schleswig-Holstein, dass sich überwiegend auf Garten- und Landschaftsbau sowie Forstarbeiten spezialisiert hat. Wir bieten Dienstleistungen im privaten sowie kommunalen Bereich an.</p>

        <h2>Wir bieten..</h2>
        <p>Wir führen Forst- und Baumarbeiten, wie Baumfällungen, Holzerntemaßnahmen, Hecken- und Kronenschnitt sowie Holzrückarbeiten durch. Zu unseren Dienstleistungen im Forstbereich gehören auch Maßnahmen wie Kulturbegründungen, Baum-Beurteilung und -Gutachten.</p>
    </div>

    <div class="col-md-6">

        <p>Im privaten Bereich können Sie unsere Dienstleistungen zur Grundstücksgestaltung wie Erstellung von Rasen- und Teichanlagen, Erdarbeiten, Pflasterarbeiten für Gehwege, Terrassen und Einfahrten, Zaunbau, Begrünung oder Montagearbeiten aller Art in Anspruch nehmen. Auch Winterdienstarbeiten bieten wir im privaten Bereich an.</p>
        <p>Des Weiteren bieten wir qualifizierten Maschineneinsatz wie Bagger, Minibagger, Radlader, Forwarder, Schredder und vieles mehr. Außerdem führen wir Motorsägensemniare und Schulungen mit Erteilung und Ausstellung eines Befähigungsnachweises durch.</p>
        <p>Sie können sich dabei stehts auf den Einsatz versierter Mitarbeiter (Maurer, Elektriker, Gärtner, Forst- und Landwirte) verlassen.</p>
    </div>

</div>