<h2>Kontakt</h2>

<div class="row">
  <div class="col-md-4">
      <p>Sie erreichen uns während unserer Geschäftszeiten unter der unten angegebenen Rufnummer oder außerhalb unserer Geschäftszeiten per E-Mail oder Kontaktformular.</p>
      
      <h4>Anschrift</h4>
      <p>
        Langwerk GmbH<br />
        Dorfstraße 25<br />
        24850 Lürschau
      </p>

      <h4>Geschäftszeiten:</h4>
      <p>Mo. - Fr. 08:00 - 14:00 Uhr</p>

      <h4>Kontakt Informationen</h4>
      <p>
        Telefon: +49 4624 - 80 22 21<br />
        Fax: +49 4624 - 80 22 59<br />
        <br />
        E-Mail: <a href="mailto:buero@landwerk-sh.de">buero@landwerk-sh.de</a><br />
        Web: <a href="http://www.landwerk-sh.de">www.landwerk-sh.de</a>
      </p>
  </div>

  <div class="col-md-8">
    FORM
  </div>
</div>
