<h2>Kontakt</h2>

<div class="row">
  <div class="col-md-4">
      <p>Sie erreichen uns während unserer Geschäftszeiten unter der unten angegebenen Rufnummer oder außerhalb unserer Geschäftszeiten per E-Mail oder Kontaktformular.</p>
      
      <h4>Anschrift</h4>
      <p>
        Langwerk GmbH<br />
        Dorfstraße 25<br />
        24850 Lürschau
      </p>

      <h4>Geschäftszeiten:</h4>
      <p>Mo. - Fr. 08:00 - 14:00 Uhr</p>

      <h4>Kontakt Informationen</h4>
      <p>
        Telefon: +49 (0) 4624 - 80 22 21<br />
        Telefax: +49 (0) 4624 - 80 22 59<br />
        <br />
        E-Mail: <a href="mailto:buero@landwerk-sh.de">buero@landwerk-sh.de</a><br />
        Web: <a href="http://www.landwerk-sh.de">www.landwerk-sh.de</a>
      </p>
  </div>

  <div class="col-md-8">
    
    <form [formGroup]="contact" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label class="form-control-label">Name</label>
        <input class="form-control" id="name" placeholder="Dein Name" formControlName="name" required [class.is-invalid]="name.invalid && (name.dirty || name.touched)" />
        <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
            Bitte gib deinen Namen an.
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label">E-Mail</label>
        <input class="form-control" id="email" placeholder="Deine E-Mail Adresse" formControlName="email" required [class.is-invalid]="email.invalid && (email.dirty || email.touched)" />
        <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
          Gib eine gültige E-Mail-Adresse unter der wir dich kontaktieren können an.
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label">Telefonnummer</label>
        <input class="form-control" id="phone" placeholder="Deine Telefonnummer" formControlName="phone" />
      </div>

      <div class="form-group">
        <label class="form-control-label">Betreff</label>
        <input class="form-control" id="subject" placeholder="Worum geht es?" formControlName="subject" required [class.is-invalid]="subject.invalid && (subject.dirty || subject.touched)" />
        <div class="invalid-feedback" *ngIf="subject.invalid && (subject.dirty || subject.touched)">
          Gib eine kurze Beschreibung worum es geht.
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label">Deine Nachricht an uns</label>
        <textarea class="form-control" rows="6" id="message" placeholder="Deine Nachricht" formControlName="message" required [class.is-invalid]="message.invalid && (message.dirty || message.touched)">
        </textarea>
        <div class="invalid-feedback" *ngIf="message.invalid && (message.dirty || message.touched)">
            Beschreibe dein Anliegen.
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="contact.invalid">Senden</button>
    </form>

  </div>
</div>
