<h1>Kontakt</h1>

<h2>Anschrift</h2>
<p>
  Langwerk GmbH<br />
  Dorfstraße 25<br />
  24850 Lürschau
</p>

<h2>Kontakt</h2>
<p>
  Sie erreichen uns während unserer Geschäftszeiten unter der unten angegebenen Rufnummer oder außerhalb unserer Geschäftszeiten per E-Mail oder Kontaktformular.<br />
  <br />
  <b>Geschäftszeiten:</b><br />
  Mo. - Fr. 08:00 - 14:00 Uhr<br />
  <br />
  Tel: 04624 - 80 22 21<br />
  Fax: 04624 - 80 22 59<br />
  <br />
  E-Mail: <a href="mailto:buero@landwerk-sh.de">buero@landwerk-sh.de</a><br />
  Web: <a href="http://www.landwerk-sh.de">www.landwerk-sh.de</a>
</p>