<h2>Unsere Dienstleistungen im Überblick</h2>

<div class="row">

  <div class="col-md-6">
      <landwerk-service-card
        name="garden"
        title="Garten- und Landschaftsbau">
      </landwerk-service-card>
  </div>

  <div class="col-md-6">
      <landwerk-service-card
        name="forestry"
        title="Forstarbeiten">
      </landwerk-service-card>
  </div>

  <div class="col-md-6">
      <landwerk-service-card
        name="trees"
        title="Baumarbeiten (Privat und Kommunal)">
      </landwerk-service-card>
  </div>

  <div class="col-md-6">
      <landwerk-service-card
        name="machines"
        title="Maschineneinsatz">
      </landwerk-service-card>
  </div>

  <div class="col-md-6">
      <landwerk-service-card
        name="chainsaws"
        title="Motorsägenseminare">
      </landwerk-service-card>
  </div>

  <div class="col-md-6">
      <landwerk-service-card
        name="winter"
        title="Winterdienstarbeiten im privaten Bereich">
      </landwerk-service-card>
  </div>

</div>