<h1>Dienstleistungen</h1>
<div>
  <h2>Garten- und Landschaftsbau</h2>

  <img src="../../assets/images/slider/4.jpg" alt="Planungsarbeiten" title="Planungsarbeiten (Garten und Grundstück)" />
  <img src="../../assets/images/slider/3.jpg" alt="Gartenanlagen" title="Erstellung von Gartenanlagen (Beet- und Pflanzflächen)" />
  <img src="../../assets/images/slider/1.jpg" alt="Begrünung" title="Begrünung (Pflanzenlieferung, Pflanzen-Einbau)" />
  <img src="../../assets/images/slider/25.jpg" alt="Begrünung" title="Begrünung (Pflanzenlieferung, Pflanzen-Einbau)" />
  <img src="../../assets/images/slider/14.jpg" alt="Strauch und Pflanzenschnitt" title="Heckenschnitt, sowie Strauch- und Pflanzenschnitt nach Art und Struktur" />
  <img src="../../assets/images/slider/24.jpg" alt="" title="Fräs- und Mulcharbeiten" />
  <img src="../../assets/images/slider/27.jpg" alt="Erstellung von Rasenanlagen" title="Erstellung von Rasenanlagen (Saatverfahren, optional Rollrasen)" />
  <img src="../../assets/images/slider/37.jpg" alt="Erstellung von Teichanlagen" title="Erstellung von Teichanlagen (Folie, Lehmziegel o.ä.)" />
  <img src="../../assets/images/slider/7.jpg" alt="Pflasterarbeiten" title="Pflasterarbeiten (Gehwege, Terrasse, Einfahrten)" />
  <img src="../../assets/images/slider/28.jpg" alt="Pflasterarbeiten" title="Pflasterarbeiten (Gehwege, Terrasse, Einfahrten)" />
  <img src="../../assets/images/slider/17.jpg" alt="Pflasterarbeiten" title="Pflasterarbeiten (Gehwege, Terrasse, Einfahrten)" />
  <img src="../../assets/images/slider/23.jpg" alt="Naturseteinmauern" title="Erstellung Naturseteinmauern / Friesenwälle" />
  <img src="../../assets/images/slider/9.jpg" alt="Zaunarbeiten" title="Zaunbauarbeiten (Holz, Kunststoff, Metall, in Form und Farbe)" />
  <img src="../../assets/images/slider/30.jpg" alt="Zaunarbeiten" title="Zaunbauarbeiten (Holz, Kunststoff, Metall, in Form und Farbe)" />
  <img src="../../assets/images/slider/5.jpg" alt="Montagearbeiten" title="Montagearbeiten aller Art (Lauben, Gartenhäuser, Gewächshäuser, Stege, u.ä.)" />
  <img src="../../assets/images/slider/26.jpg" alt="Montagearbeiten" title="Montagearbeiten aller Art (Lauben, Gartenhäuser, Gewächshäuser, Stege, u.ä.)" />
  
  <h2>Dienstleistungen</h2>
  <ul>
    <li>Planungsarbeiten (Garten und Grundstück)</li>
    <li>Erstellung von Gartenanlagen (Beet- und Pflanzflächen)</li>
    <li>Begrünung (Pflanzenlieferung, Pflanzen-Einbau)</li>
    <li>Strauch- und Pflanzenschnitt nach Art und Struktur</li>
    <li>Heckenschnitt</li>
    <li>Fräs- und Mulcharbeiten</li>
    <li>Erstellung von Rasenanlagen (Saatverfahren, optional Rollrasen)</li>
    <li>Erstellung von Teichanlagen (Folie, Lehmziegel o.ä.)</li>
    <li>Anlagenpflege (mähen, entkrauten, schneiden)</li>
    <li>Gartenpflege saisonal</li>
    <li>Dauerpflegearbeiten über die Vegetationsperiode</li>
    <li>Pflasterarbeiten (Gehwege, Terrasse, Einfahrten)</li>
    <li>Erdarbeiten (Drainierung, Kanalisation)</li>
    <li>Erstellung Naturseteinmauern / Friesenwälle</li>
    <li>Zaunbauarbeiten (Holz, Kunststoff, Metall, in Form und Farbe)</li>
    <li>Montagearbeiten aller Art (Lauben, Gartenhäuser, Gewächshäuser, Stege, u.ä.)</li>
    <li>Abfuhr und Entsorgung von Grünabfällen</li>
  </ul>
</div>
<div>
  <h2>Forstarbeiten</h2>

  <img src="../../assets/images/slider/6.jpg" alt="Holzerntema&szlig;nahmen" title="Holzerntema&szlig;nahmen" />
  <img src="../../assets/images/slider/11.jpg" alt="Holzerntema&szlig;nahmen" title="Holzerntema&szlig;nahmen" />
  <img src="../../assets/images/slider/12.jpg" alt="Jungbestandspflege" title="Jungbestandspflege, Läuterungen" />
  <img src="../../assets/images/slider/29.jpg" alt="Holzrückearbeiten" title="Holzrückearbeiten (Seilwinden, Forwarder)" />
  <img src="../../assets/images/slider/31.jpg" alt="Zaunbauarbeiten" title="Zaunbauarbeiten (Wildschutzzäune, Wanderzäune, Weidezäune)" />
  <img src="../../assets/images/slider/34.jpg" alt="Zaunbauarbeiten" title="Zaunbauarbeiten (Wildschutzzäune, Wanderzäune, Weidezäune)" />
  <img src="../../assets/images/slider/13.jpg" alt="Zaunbauarbeiten" title="Zaunbauarbeiten (Wildschutzzäune, Wanderzäune, Weidezäune)" />
  <img src="../../assets/images/slider/35.jpg" alt="Starkholzfällung" title="Starkholzfällung, Wertholzaufbereitung" />

  <h2>Dienstleistungen</h2>
  <ul>
    <li>Holzerntemaßnahmen</li>
    <li>Kulturbegründung</li>
    <li>Jungbestandspflege, Läuterungen</li>
    <li>Holzrückearbeiten (Seilwinden, Forwarder)</li>
    <li>Zaunbauarbeiten (Wildschutzzäune, Wanderzäune, Weidezäune)</li>
    <li>Starkholzfällung, Wertholzaufbereitung</li>
    <li>Forstschutz (biotisch / abiotisch)</li>
  </ul>
</div>
<div>
  <h2>Baumarbeiten (Privat und Kommunal)</h2>

  <img src="../../assets/images/slider/10.jpg" alt="Schreddereinsatz" title="Schreddereinsatz manuell / maschinell bis 35 cm" />
  <img src="../../assets/images/slider/6.jpg" alt="Baumfällungen" title="Baumfällungen auch in schwierigsten Fällen" />
  <img src="../../assets/images/slider/12.jpg" alt="Kronenschnitt" title="Kronenschnitt / Wipfelköpfung" />
  <img src="../../assets/images/slider/29.jpg" alt="Einsatz von Schwerlastkränen" title="Einsatz von Schwerlastkränen (bis 120 Tonnen)" />

  <h2>Dienstleistungen</h2>
  <ul>
    <li>Baumfällungen auch in schwierigsten Fällen</li>
    <li>Kronenschnitt / Wipfelköpfung</li>
    <li>Einsatz von Hubsteigern jeglicher Art</li>
    <li>Einsatz von Schwerlastkränen (bis 120 Tonnen)</li>
    <li>Schreddereinsatz manuell / maschinell bis 35 cm</li>
    <li>einholen und durchführen verkehrsregelnder Maßnahmen (optional)</li>
    <li>Antragsabwicklung / Fällgenehmigung nach Baumschutzsatzung</li>
    <li>Baumchirurgie / Baumsanierung</li>
    <li>Baumbeurteilung / Baumgutachten</li>
  </ul>
</div>
<div>
  <h2>Maschineneinsatz</h2>

  <img src="../../assets/images/slider/37.jpg" alt="Baumfällungen" title="Bagger, Minibagger, Radlader, Verdichter, Walze" />
  <img src="../../assets/images/slider/33.jpg" alt="Baumfällungen" title="Bagger, Minibagger, Radlader, Verdichter, Walze" />
  <img src="../../assets/images/slider/10.jpg" alt="Schreddereinsatz" title="Schredder (bis 35 cm)" />
  <img src="../../assets/images/slider/11.jpg" alt="Forwarder" title="Forwarder" />
  <img src="../../assets/images/slider/29.jpg" alt="Seilweinde" title="Seilweinde funkgesteuert (2x 5,5 Tonnen)" />

  <h2>Dienstleistungen</h2>
  <ul>
    <li>Bagger, Minibagger, Radlader, Verdichter, Walze</li>
    <li>Schredder (bis 35 cm)</li>
    <li>Seilweinde funkgesteuert (2x 5,5 Tonnen)</li>
    <li>Forwarder</li>
    <li>Motorsäge, Motorsense</li>
  </ul>
</div>
<div>
  <h2>Motorsägenseminare</h2>

  <img src="../../assets/images/slider/36.jpg" alt="Baumfällungen" title="Organisation und Durchführung von MS-Lehrgängen für private oder gewerbliche Nutzer durch autorisierte Fachkraft" />
  <img src="../../assets/images/slider/14.jpg" alt="Baumfällungen" title="" />

  <h2>Dienstleistungen</h2>
  <ul>
    <li>Organisation und Durchführung von MS-Lehrgängen für private oder gewerbliche Nutzer durch autorisierte Fachkraft</li>
    <li>Erteilung und Ausstellung eines Befähigungsnachweises</li>
  </ul>

</div>
<div>
  <h2>Winterdienstarbeiten im privaten Bereich</h2>

  <img src="../../assets/images/slider/38.jpg" alt="Winterdienstarbeiten" title="" />

  <h2>Dienstleistungen</h2>
  <ul>
    <li>Bürgersteige, Gehwege, Haus- und Hofeinfahrten nach den örtlichen / regionalen Vorgaben</li>
  </ul>
</div>