@import '~sass/variables';

.carousel {
    margin: auto;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    cursor: pointer;
}

.carousel-caption {
    background-color: rgba(0,0,0, 0.5);
    padding: 1.5em;
}

ol li.active {
    background-color: lightgreen;
}

.card-img-top {
    width: 400px;
    overflow: hidden;
}

.card-text h3 {
    color: $dark-color;
}