<header>
  <nav class="navbar navbar-expand-md navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <div id="logo"></div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li *ngFor="let rel of relations" 
            class="nav-item" 
            (click)="routingService.open(rel)">
            <a class="nav-link">{{rel.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>