* {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

a {
    color: darkgreen;
    text-decoration: underline;
}
a:hover {
    color: green;
    text-decoration: none;
}

p {
    line-height: 1.6em;
}

.carousel-caption h1 {
    font-size: 1.2em;
}