
<landwerk-image-carousel [name]="homeCarousel" [slides]="slides"></landwerk-image-carousel>

<div class="row">
    <h2>Landwerk GmbH</h2>

    <p>Wir führen Forst- und Baumarbeiten, wie Baumfällungen, Holzerntemaßnahmen, Hecken- und Kronenschnitt sowie Holzrückarbeiten durch. Zu unseren Dienstleistungen im Forstbereich gehören auch Maßnahmen wie Kulturbegründungen, Baum-Beurteilung und -Gutachten.</p>
    <p>Im privaten Bereich können Sie unsere Dienstleistungen zur Grundstücksgestaltung wie Erstellung von Rasen- und Teichanlagen, Erdarbeiten, Pflasterarbeiten für Gehwege, Terrassen und Einfahrten, Zaunbau, Begrünung oder Montagearbeiten aller Art. Auch Winterdienstarbeiten bieten wir im privaten Bereich an.</p>
    <p>Des Weiteren bieten wir Ihnen in gegebenen Fällen qualifizierten Maschineneinsatz wie Bagger, Minibagger, Radlader, Forwarder, Schredder und vieles mehr. Außerdem führen wir Motorsägensemniare und Schulungen mit Erteilung und Ausstellung eines Befähigungsnachweises durch.</p>
    <p>Sie können sich auf den Einsatz versierter Mitarbeiter (Maurer, Elektriker, Gärtner, Forst- und Landwirte) verlassen.</p>
</div>