<h1>Über uns</h1>

<img src="../../assets/images/slider/4.jpg" alt="Garten & Landschaftsbau" title="#garten" />
<img src="../../assets/images/slider/35.jpg" alt="Forstarbeiten" title="#forst" />
<img src="../../assets/images/slider/12.jpg" alt="Baumarbeiten" title="#baum" />
<img src="../../assets/images/slider/11.jpg" alt="Maschineneinsatz" title="#maschinen" />
<img src="../../assets/images/slider/14.jpg" alt="Motorsägenseminare & Schulungen" title="#motorsaegen" />
<img src="../../assets/images/slider/38.jpg" alt="Winterdienstarbeiten" title="#motorsaegen" />

<p>
  Wir bieten Ihnen unsere Unterstützung bei der <a href="index.php?show=gartenundlandschaftsbau">Grundstückgestaltung</a>. Planungsarbeiten, Begrünung, Pflasterarbeiten u.v.m
</p>
<p>
  Wir bieten Ihnen unsere Dienste bei <a href="index.php?show=forstarbeiten">Forstarbeiten</a> an.
</p>
<p>
  Wir füren <a href="index.php?show=baumarbeiten">Baumarbeiten</a>, wie Baumfällungen, Hecken- und Kronenschnitt oder Schredderarbeiten durch.
</p>
<p>
  <a href="index.php?show=maschinen">Maschineneinsatz</a> wie Bagger, Radlader, Forwarder ist mit uns kein Problem.
</p>
<p>
  Außerdem können Sie bei uns auch <a href="index.php?show=motorsaegen">Motorsägenseminare & Schulungen</a> erhalten.
</p>
<p>
  Zusätzlich bieten wir <a href="index.php?show=winterdienstarbeiten">Winterdienstarbeiten im privaten Bereich</a>.
</p>

<h2>Landwerk GmbH</h2>

<p>Wir führen Forst- und Baumarbeiten, wie Baumfällungen, Holzerntemaßnahmen, Hecken- und Kronenschnitt sowie Holzrückarbeiten durch. Zu unseren Dienstleistungen im Forstbereich gehören auch Maßnahmen wie Kulturbegründungen, Baum-Beurteilung und -Gutachten.</p>
<p>Im privaten Bereich können Sie unsere Dienstleistungen zur Grundstücksgestaltung wie Erstellung von Rasen- und Teichanlagen, Erdarbeiten, Pflasterarbeiten für Gehwege, Terrassen und Einfahrten, Zaunbau, Begrünung oder Montagearbeiten aller Art. Auch Winterdienstarbeiten bieten wir im privaten Bereich an.</p>
<p>Des Weiteren bieten wir Ihnen in gegebenen Fällen qualifizierten Maschineneinsatz wie Bagger, Minibagger, Radlader, Forwarder, Schredder und vieles mehr. Außerdem führen wir Motorsägensemniare und Schulungen mit Erteilung und Ausstellung eines Befähigungsnachweises durch.</p>
<p>Sie können sich auf den Einsatz versierter Mitarbeiter (Maurer, Elektriker, Gärtner, Forst- und Landwirte) verlassen.</p>